@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    font-family: Inter, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    background-image: url('bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: brightness(0.5);
    width: 100vw;
    height: 100vh;
    color: white;
}

main {
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: 440px;
    grid-auto-rows: 1fr;
    justify-content: center;
    justify-items: stretch;
    height: 100%;
}

header,
footer {
    filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.9));
}

header {
    margin-top: 4rem;
}

header > * {
    width: min-content;
}

header h1 {
    margin: 0;
    font-size: 5rem;
    font-weight: 800;

    line-height: 0.8;

    color: white;
}

header h2 {
    margin: 0;
    font-weight: 800;
    margin: 0;
    font-weight: 800;
    transform-origin: left;
    font-size: 2.5rem;
    color: #ffcf00;
}

header h3 {
    margin: 0;
    font-weight: 800;
    margin-left: auto;
    font-size: 2.5rem;
    font-style: italic;
    color: #ff77d2;
}

footer {
    text-align: center;
    font-size: 1.75rem;
    color: hsl(48deg 100% 70%);
}
